<section id="aboutnpa">
    <div class="container">
        <h2 class="STEM-heading section-heading">
			About NPA
		</h2>
        <p class="text-muted" id="npadesc">
            <a id="npaweblink" href="http://northcoastprep.org/">We</a> are an IB high school in Humboldt County, California.<br/>
            NEWSWEEK rated Northcoast Preparatory and Performing Arts Academy the 3<sup>rd</sup> best high school in California, and 30<sup>th</sup> in the USA on the America's Top Public High Schools 2009 list.
        </p>
        <div class="wpciw2011_emblem">
            <a href="http://apps.washingtonpost.com/local/highschoolchallenge/schools/2014/northcoast-prep-and-performing-arts-academy-arcata-ca/">
                <img src="http://media10.washingtonpost.com/local/static/school_rankings/images/widget_emblem_2014.png">
            </a>
        </div>
        <div id="wpRank">
            <div class="wpciw2011_ranking_info">
                <span class="wpciw2011_school">
                    <a class="wpciw2011_school" href="http://apps.washingtonpost.com/local/highschoolchallenge/schools/2014/northcoast-prep-and-performing-arts-academy-arcata-ca/">
                        #21
                    </a>
                </span>
                <span class="wpciw2011_school">
                    <a class="wpciw2011_school" href="http://apps.washingtonpost.com/local/highschoolchallenge/schools/2014/northcoast-prep-and-performing-arts-academy-arcata-ca/">
                        Northcoast Prep and Performing Arts Academy
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>