<section id="aboutnpa">
    <div class="container">
        <h2 class="STEM-heading section-heading">
			About NPA
		</h2>
        <p class="text-muted" id="npadesc">
            <a id="npaweblink" href="http://northcoastprep.org/">We</a> are an IB high school in Humboldt County, California.<br/>
            NEWSWEEK rated Northcoast Preparatory and Performing Arts Academy the 3<sup>rd</sup> best high school in California, and 30<sup>th</sup> in the USA on the America's Top Public High Schools 2009 list.
        </p>
    </div>
</section>