<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{site.url}}/style.css">

    <!-- Custom Fonts -->
    <script type='text/javascript'>
		function loadCSS(f,b,g,c){var a=window.document.createElement("link");b=b||window.document.getElementsByTagName("script")[0];var e=window.document.styleSheets;a.rel="stylesheet";a.href=f;a.media="only x";c&&(a.onload=c);b.parentNode.insertBefore(a,b);a.onloadcssdefined=function(b){for(var c,d=0;d<e.length;d++)e[d].href&&-1<e[d].href.indexOf(f)&&(c=!0);c?b():setTimeout(function(){a.onloadcssdefined(b)})};a.onloadcssdefined(function(){a.media=g||"all"});return a};
		loadCSS('http://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Lato:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700');
    </script>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet' />
    <noscript><link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Lato:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' /></noscript>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
