	<!-- Zepto version 1.1.4 -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js'></script>
	
  <!-- Responsive nav plugin -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/responsive-nav.js/1.0.38/responsive-nav.min.js' type='text/javascript'></script>
  
  <!-- Bootstrap Core JavaScript -->
  <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->

  <!-- Plugin JavaScript -->
  <script src='/js/anchorscroll.js'></script>

  <!-- Custom Theme JavaScript -->
  <script src='/js/agency.js'></script>

  <script>
    var nav = responsiveNav(".nav-collapse", {customToggle: 'navToggle'});
  </script>
