<section id="stem" class="bg-light-gray">
	<div class="container">
		<h2 class="STEM-heading section-heading">
			STEM
		</h2>
		
		<h3 class="section-subheading stem-desc">
			<span class="bold-italic-span">S</span>cience <span class="bold-italic-span">T</span>echnology <span class="bold-italic-span">E</span>ngineering and <span class="bold-italic-span">M</span>ath
		</h3>
		<div class="text-muted centeredText marginTop-50">
			Learn why this is important <a href="http://www.ed.gov/stem">here</a>.
		</div>
	</div>
</section>
